        {% if not is_front_page %}
        <footer>
            <hr>
            <p>Last edited on: <time datetime="{{ page.date|date("Y-m-d") }}">{{ page.date|date("jS F, Y") }}</time>.</p>

            
            <nav>
                <a href="#sitetitle" title="go back to top">back to top?</a>
            </nav>
        
        </footer>
        {% endif %}
    </div>

</body>
</html>