/* Colors

CURRENT
text: 444
background: 453e3a
a active/hover: crimson
a visited: purple 
a link: blue
nav a hover bg: f4f0ed


/* Typography ***************/

html { font-size: 62.5% }
body {
    margin:20px 0;
    line-height:1.6;
    font-family: Georgia, sans-serif;
    font-size:1.6em;
    color:#444;
    padding:0 10px;
}

p { max-width: 650px; }

h1,h2,h3,h4,h5,h6 {
    line-height:1.1;
    font-family: Arial, sans-serif;
    color: #453e3a;
}

/*h1 { margin-top: 1.6em; margin-bottom: .5em; }
h2 { margin-top: 1.8em; margin-bottom: .5em; }
h3 { margin-top: 2.0em; margin-bottom: .4em; }
h4 { margin-top: 2.2em; margin-bottom: .3em; }
h5 { margin-top: 2.4em; margin-bottom: .2em; }
h6 { margin-top: 2.6em; margin-bottom: .1em; } */

#sitetitle h1 { 
    margin-top: .67em; 
    margin-bottom: .4em;
    font-family: "Gill Sans MT", "Futura", "Tw Cen MT", "Trebuchet MS", sans-serif; 
    text-transform: uppercase;
}

#sitetitle h1 a {
    color: #453e3a;
    text-decoration: none;
}

#sitetitle h1 a:hover, 
#sitetitle h1 a:visited:hover,
#sitetitle h1 a:active {
    color: crimson;
}

#sitetitle aside { font-size: .8em; font-style: italic;}

nav a {
    font-family: Arial, sans-serif;
    padding: .3em;
    border: 1px solid #ccc; 
}

a:link { color: blue; }
a:hover, a:active, a:visited:hover { color: crimson; }

a:visited { color: purple; }

nav a:hover {
    background-color: #f4f0ed;
}

.new-fic {
    color: crimson;
}

hr {
    border-top: medium double #333;
}

section.fic {
    border: 1px dotted #333;
    padding-left: 10px;
    margin-bottom: 10px;
}

section.fic h3 {
    margin-top: 1em;
}

main.fic.post h1 {  }

/* Container styles ***************/
/* (stolen from skeleton.css! *****/
/**********************************/

.container {
    position: relative;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
    background-color: #fff;
    height: 100%;
}

.column, .columns {
    width: 100%;
    float: left;
    box-sizing: border-box;

}

.three.columns { width: 22%; }
.nine.columns { width: 74%; }
.twelve.columns { width: 100%; margin-left: 0; }

.one-third.column { width: 30.6666666667%; margin-left: 1em;}
.two-thirds.column { width: 65.3333333333%; }

.one-half.column { width: 48%; padding-right: 1em;}

.offset-by-one-half.column { margin-left: 52%; }
.offset-by-three.columns { margin-left:26%; }
.offset-by-two.columns { margin-left: 17.3333333333%; }

.container:after {
    content: "";
    display: table;
    clear: both;
}
