/* Colors

text: 666
background: 453e3a
a active/hover: eb3d60
a visited: 660b1d 
a link: 0066cc
nav a hover bg: e8d2c4

/* originals:

text: 444
bg: fff
a a/h: 
a v:
a l:

*/

body {
    margin:40px 0;
/*  max-width:650px; */
    line-height:1.6;
    font-family: Verdana, sans-serif;
    font-size:16px;
    color:#444;
    padding:0 10px;
}

p { max-width: 650px; }

h1,h2,h3,h4,h5,h6 {
    line-height:1.2;
    font-family: Arial, sans-serif;
    color: #453e3a;
}

#sitetitle h1 { 
    margin-top: .67em; 
    margin-bottom: .4em;
    font-family: "Gill Sans MT", "Futura", "Tw Cen MT", "Trebuchet MS", sans-serif; 
    text-transform: uppercase;
}

#sitetitle aside { font-size: .8em; font-style: italic;}

h1 { margin-top: 1.6em; margin-bottom: .5em; }
h2 { margin-top: 1.8em; margin-bottom: .5em; }
h3 { margin-top: 2.0em; margin-bottom: .4em; }
h4 { margin-top: 2.2em; margin-bottom: .3em; }
h5 { margin-top: 2.4em; margin-bottom: .2em; }
h6 { margin-top: 2.6em; margin-bottom: .1em; } 

nav a {
    padding: .3em;
    border: 1px solid #ccc; 
}

a:link { color: blue; }
a:hover, a:active { color: red; }

a:visited { color: purple; }

nav a:hover {
    background-color: #f4f0ed; /*fcf7f4;*/
}

.new-fic {
    color: crimson;
}

hr {
    /*max-width: 600px;*/
    /*text-align: left;*/
    border-top: medium double #333;
}

/* container styles */

/* grid stuff 
/* 
/* stolen skeleton.css styles below */

.container {
    position: relative;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
}


.column, .columns {
    width: 100%;
    float: left;
    box-sizing: border-box;

}

.three.columns { width: 22%; }
.nine.columns { width: 74%; }
.twelve.columns { width: 100%; margin-left: 0; }

.one-third.column { width: 30.6666666667%; margin-left: 1em;}
.two-thirds.column { width: 65.3333333333%; }

.one-half.column { width: 48%; padding-right: 1em;}

.offset-by-one-half.column { margin-left: 52%; }
.offset-by-three.columns { margin-left:26%; }
.offset-by-two.columns { margin-left: 17.3333333333%; }

.container:after {
    content: "";
    display: table;
    clear: both;
}
